<script id="window.tpl.html" type="text/ng-template">
<div class="infoWindow">

    <strong>{{parameter.title}}</strong>
	
	<div id="info">
		<p>{{parameter.description}}</p>
		<a href="#">{{parameter.url}}</a>
	</div>

	<div>
		<table class="paddingRight">
			<thead>
				<tr>
					<td>Název</td>
					<td>Hodnocení</td>
				</tr>
			</thead>
			<tbody>	
				<tr ng-repeat="tag in parameter.tags">
					<td>{{tag.name}}</td>
					<td>{{tag.recommended}} / {{tag.reviewed}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="menu" ng-controller="MenuController as menuCtrl">
		<strong>Denní menu</strong>
		<ul>
			<li>{{menuCtrl.menuToString(parameter.menu)}}</li>
			<li ng-if="parameter.menu"><a href="#">{{parameter.menu.url}}</a></li>
		</ul>
	</div>		
</div>
</script>	



<div ng-controller="MapCtrl">
	
	<form>
		<div ng-controller="NavigationCtrl" class="nav-inline">
			<h2>Kategorie</h2>
			<label ng-repeat="category in categories.array" class="checkbox-inline">
				<input type="checkbox" ng-click="selectCategory(category.id)" ng-checked="checkedCategories.indexOf(category.id) > -1">{{category.name}}</input>
			</label>
		
	
			<div ng-controller="TagCtrl" ng-hide="checkedCategories.length == 0">
				<h3>Tagy</h3>
				<label ng-repeat="tag in tags.array" class="checkbox-inline">
					<input type="checkbox" name="{{tag.name}}" ng-click="selectTag(tag.id)" ng-checked="checkedTags.indexOf(tag.id) > -1" />
					{{tag.name}}
				</label>
			</div>
		</div>
	</form>
	
	<ui-gmap-google-map center="mapOptions.center" zoom="mapOptions.zoom" events="mapOptions.events">
		
		<ui-gmap-markers models="checkedTags.length != 0 ? mapOptions.filteredMarkers : mapOptions.markers" coords="'self'" click="'onClicked'">		 
		</ui-gmap-markers>
		
		<ui-gmap-window coords="selected" id="selected.id" closeClick="selected.closeClick()" options="selected.options" templateUrl="'window.tpl.html'" templateParameter="selected" ng-cloak>
		</ui-gmap-window>
	</ui-gmap-google-map>
</div>

